.button {
  display: inline-flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  align-self: center;
  grid-column-gap: 5.8em;
  grid-row-gap: 5.8em;

  border-style: solid;
  border-width: 0px;
  border-radius: var(--_sizes---button--button-radius);

  background-color: var(--_colors---core-accent-color--accent-primary);
  background-image: none;

  filter: none;

  transition: border-color 200ms ease,color 200ms ease,background-color 200ms cubic-bezier(0.165, 0.84, 0.44, 1),box-shadow 200ms ease;

  font-family: var(--_typography---button--button-font);
  color: var(--_colors---core-neutral-color--neutral-primary);
  font-size: var(--_typography---base-typography--base-font-size);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;

  cursor: pointer;
}

.button:hover {
  border-color: var(--_colors---button--button-primary-border-hover);
  background-color: var(--_colors---core-accent-color--accent-primary-hover);
  box-shadow: none;
  color: var(--_colors---button--button-primary-text);
}

.button:active {
  background-color: var(--_colors---core-accent-color--accent-primary);
  box-shadow: none;
}

.button:focus {
  outline-color: var(--_colors---core-accent-color--accent-primary);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

.button:global(.w--current) {
  background-color: #9a5f68;
  transition: none 0ms ease;
  color: var(--_apps---charts--chart-5-dark\<deleted\|variable-661bd001-cd0d-08a9-41c9-5c2693d8ff36\>);
}

@media screen and (max-width: 479px) {
  .button {
    background-image: none;
    box-shadow: none;
    filter: none;
    white-space: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .button:global(.w--current) {
    max-width: 280px;
  }
}

.button.is-accent-tertiary {
  border-width: 2px;
  border-color: var(--_colors---button--button-secondary-border);

  background-color: var(--_colors---core-accent-color--accent-tertiary);
  background-image: none;

  box-shadow: inset 0 0 0 2px var(--_colors---text-color--text-primary);
  filter: none;

  color: var(--_apps---colors--secondary);
}

.button.is-accent-tertiary:where(.w-variant-ee45998d-5a43-c57c-c7d6-4808e7a72733) {
  background-color: var(--_apps---colors--primary);
  box-shadow: inset 0 0 0 2px var(--_apps---colors--primary);
  filter: none;
  color: var(--_apps---colors--secondary);
}

.button.is-accent-tertiary:where(.w-variant-528938e1-f8f6-e1bb-79b8-a5a9da37d75a) {
  filter: none;
}

.button.is-accent-tertiary:where(.w-variant-35fdfe12-a636-2f7f-c1e4-e4c9ad71f45b) {
  filter: none;
}

.button.is-accent-tertiary:hover {
  border-color: var(--_colors---button--button-secondary-border-hover);
  background-color: var(--_colors---core-accent-color--accent-tertiary);
  box-shadow: inset 0 0 0 1px var(--_colors---text-color--text-primary);
  filter: brightness(110%);
  color: var(--_colors---core-neutral-color--neutral-secondary);
}

.button.is-accent-tertiary:hover:where(.w-variant-ee45998d-5a43-c57c-c7d6-4808e7a72733) {
  border-color: var(--_apps---colors--primary);
  background-color: var(--_apps---colors--primary);
  box-shadow: inset 0 0 0 2px var(--_apps---colors--primary);
  filter: brightness(110%);
}

.button.is-accent-tertiary:hover:where(.w-variant-528938e1-f8f6-e1bb-79b8-a5a9da37d75a) {
  background-color: var(--_colors---core-accent-color--accent-tertiary);
  filter: none;
}

.button.is-accent-tertiary:hover:where(.w-variant-35fdfe12-a636-2f7f-c1e4-e4c9ad71f45b) {
  background-color: var(--_colors---core-accent-color--accent-tertiary);
  filter: none;
}

.button.is-accent-tertiary:active {
  background-color: var(--_colors---core-accent-color--accent-tertiary);
  box-shadow: inset 0 0 0 2px var(--_colors---text-color--text-primary);
  filter: none;
}

.button.is-accent-tertiary:active:where(.w-variant-ee45998d-5a43-c57c-c7d6-4808e7a72733) {
  filter: none;
}

.button.is-accent-tertiary:active:where(.w-variant-528938e1-f8f6-e1bb-79b8-a5a9da37d75a) {
  filter: brightness(110%);
}

.button.is-accent-tertiary:active:where(.w-variant-35fdfe12-a636-2f7f-c1e4-e4c9ad71f45b) {
  filter: brightness(110%);
}

@media screen and (max-width: 767px) {
  .button.is-accent-tertiary {
    flex: 0 0 auto;
    transition-duration: 4000ms, 400ms, 400ms, 400ms;
  }
}

@media screen and (max-width: 767px) {
  .button.is-accent-tertiary:hover {
    background-color: var(--_apps---colors--popover-foreground\<deleted\|variable-b4b9c517-c237-1b7a-b1da-5ced180a7ceb\>);
    color: var(--_apps---colors--secondary\<deleted\|variable-98c23718-aafc-19d5-4d00-58b071ab723a\>);
  }
}

@media screen and (max-width: 479px) {
  .button.is-accent-tertiary {
    max-width: 280px;
    margin-right: 0px;
  }
}

.button.is-accent-tertiary.on-accent-primary {
  border-color: var(--_colors---button--button-primary-text);
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 2px var(--_colors---text-color--text-inverse-primary) inset;
  color: var(--_colors---text-color--text-inverse-primary);
}

.button.is-accent-tertiary.on-accent-primary:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--_colors---text-color--text-inverse-primary) inset;
  color: var(--_colors---text-link--link-inverse-hover);
}

.button.is-accent-tertiary.on-accent-primary:active {
  background-color: transparent;
  box-shadow: 0 0 0 2px var(--_colors---text-color--text-inverse-primary) inset;
}

.button.is-accent-tertiary.on-accent-secondary {
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 2px var(--_colors---text-color--text-primary) inset;
  color: var(--_colors---text-color--text-primary);
}

.button.is-accent-tertiary.on-accent-secondary:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--_colors---text-color--text-primary) inset;
  color: var(--_colors---text-link--link-inverse-hover);
}

.button.is-accent-tertiary.on-accent-secondary:active {
  background-color: transparent;
  box-shadow: 0 0 0 2px var(--_colors---text-color--text-primary) inset;
}

.button.is-accent-tertiary.on-accent-tertiary {
  border: 0px none var(--_colors---core-accent-color--accent-tertiary);

  background-color: var(--_colors---core-accent-color--accent-tertiary);
  background-image: none;

  box-shadow: inset 0 0 0 2px var(--_colors---text-color--text-primary);

  transition-duration: 400ms, 400ms, 400ms, 400ms;

  color: var(--_colors---background-color--bg-primary);
}

.button.is-accent-tertiary.on-accent-tertiary:where(.w-variant-a5b066d0-eea5-807d-c902-fb41893ff2ea) {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-primary);
  color: var(--_apps---colors--primary);
}

.button.is-accent-tertiary.on-accent-tertiary:where(.w-variant-ee45998d-5a43-c57c-c7d6-4808e7a72733) {
  border-style: none;
  background-color: var(--_colors---core-accent-color--accent-primary);
  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-primary);
}

.button.is-accent-tertiary.on-accent-tertiary:where(.w-variant-528938e1-f8f6-e1bb-79b8-a5a9da37d75a) {
  background-color: transparent;
  color: var(--_colors---core-accent-color--accent-tertiary);
}

.button.is-accent-tertiary.on-accent-tertiary:where(.w-variant-35fdfe12-a636-2f7f-c1e4-e4c9ad71f45a) {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-primary);
  color: var(--_apps---colors--primary);
}

.button.is-accent-tertiary.on-accent-tertiary:where(.w-variant-35fdfe12-a636-2f7f-c1e4-e4c9ad71f45b) {
  background-color: transparent;
  color: var(--_colors---core-accent-color--accent-tertiary);
}

.button.is-accent-tertiary.on-accent-tertiary:hover {
  background-color: var(--_colors---core-accent-color--accent-tertiary);
  box-shadow: inset 0 0 0 1px var(--_colors---core-accent-color--accent-tertiary);
  color: var(--_colors---core-neutral-color--neutral-secondary);
}

.button.is-accent-tertiary.on-accent-tertiary:hover:where(.w-variant-528938e1-f8f6-e1bb-79b8-a5a9da37d75a) {
  background-color: var(--_colors---core-accent-color--accent-tertiary);
  filter: none;
  color: var(--_colors---core-neutral-color--neutral-secondary);
}

.button.is-accent-tertiary.on-accent-tertiary:hover:where(.w-variant-a5b066d0-eea5-807d-c902-fb41893ff2ea) {
  background-color: var(--_apps---colors--primary);
  box-shadow: inset 0 0 0 1px var(--_apps---colors--primary);
  filter: none;
  color: var(--_apps---colors--secondary);
}

.button.is-accent-tertiary.on-accent-tertiary:hover:where(.w-variant-ee45998d-5a43-c57c-c7d6-4808e7a72733) {
  background-color: var(--_colors---core-accent-color--accent-primary);
  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-primary);
}

.button.is-accent-tertiary.on-accent-tertiary:hover:where(.w-variant-35fdfe12-a636-2f7f-c1e4-e4c9ad71f45b) {
  background-color: var(--_colors---core-accent-color--accent-tertiary);
  filter: none;
  color: var(--_colors---core-neutral-color--neutral-secondary);
}

.button.is-accent-tertiary.on-accent-tertiary:hover:where(.w-variant-35fdfe12-a636-2f7f-c1e4-e4c9ad71f45a) {
  background-color: var(--_apps---colors--primary);
  box-shadow: inset 0 0 0 1px var(--_apps---colors--primary);
  filter: none;
  color: var(--_apps---colors--secondary);
}

.button.is-accent-tertiary.on-accent-tertiary:active {
  background-color: var(--_colors---core-accent-color--accent-tertiary);
  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-tertiary);
  filter: none;
}

.button.is-accent-tertiary.on-accent-tertiary:active:where(.w-variant-a5b066d0-eea5-807d-c902-fb41893ff2ea) {
  filter: brightness(110%);
}

.button.is-accent-tertiary.on-accent-tertiary:active:where(.w-variant-ee45998d-5a43-c57c-c7d6-4808e7a72733) {
  filter: none;
}

.button.is-accent-tertiary.on-accent-tertiary:active:where(.w-variant-35fdfe12-a636-2f7f-c1e4-e4c9ad71f45a) {
  filter: brightness(110%);
}

.button.is-accent-tertiary.on-inverse {
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 2px var(--_colors---text-color--text-inverse-primary) inset;
  color: var(--_colors---text-color--text-inverse-primary);
}

.button.is-accent-tertiary.on-inverse:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--_colors---text-color--text-inverse-primary) inset;
}

.button.is-accent-tertiary.on-inverse:active {
  background-color: transparent;
  box-shadow: 0 0 0 2px var(--_colors---text-color--text-inverse-primary) inset;
}

.button.is-accent-tertiary.hero_button {
  margin-right: 0px;
  justify-content: center;
  align-items: center;

  border: 0px none var(--_colors---core-accent-color--accent-tertiary);

  box-shadow: none;
  outline-color: #f5f1eb;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;

  transition-duration: 400ms, 400ms, 400ms, 400ms;

  color: var(--_colors---background-color--bg-primary);
  font-weight: 400;
}

.button.is-accent-tertiary.hero_button:where(.w-variant-7562c00a-ef15-81f4-91b7-90a0fbab46c7) {
  border-color: var(--_colors---core-accent-color--accent-primary);
  background-color: var(--_colors---core-accent-color--accent-primary);
  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-primary);
}

.button.is-accent-tertiary.hero_button:where(.w-variant-c189fcd3-5a4d-5795-6030-6819db69b481) {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-tertiary);
  color: var(--_colors---core-accent-color--accent-tertiary);
}

.button.is-accent-tertiary.hero_button:where(.w-variant-fbee5f1c-a6fd-a583-6b28-036790acb6e1) {
  border: 1px none var(--_colors---core-accent-color--accent-primary);
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-primary);
  opacity: 1;
  color: var(--_colors---core-accent-color--accent-primary);
}

.button.is-accent-tertiary.hero_button:where(.w-variant-3ac05b22-f83a-436b-8411-820fcbd28f5a) {
  border-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  background-color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.button.is-accent-tertiary.hero_button:where(.w-variant-f869ac7b-f7d5-74ad-637d-c21d9e99da10) {
  border-color: var(--_colors---core-accent-color--accent-secondary);
  background-color: var(--_colors---core-accent-color--accent-secondary);
}

.button.is-accent-tertiary.hero_button:where(.w-variant-9258e10b-ad62-6a7c-340f-35176aa91519) {
  border: 1px none var(--_colors---core-accent-color--accent-secondary);

  background-color: transparent;

  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-secondary);
  opacity: 1;

  color: var(--_colors---core-accent-color--accent-secondary);
  -webkit-text-stroke-color: var(--_colors---core-accent-color--accent-secondary);
}

.button.is-accent-tertiary.hero_button:where(.w-variant-41a6f2a1-f3ed-2454-f7b2-ac853f4e425b) {
  border: 1px none var(--_colors---core-accent-color--accent-tertiary-hover);
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-tertiary-hover);
  opacity: 1;
  color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.button.is-accent-tertiary.hero_button:where(.w-variant-b898c172-11d0-fe98-a201-093af39069db) {
  border-color: var(--_colors---core-accent-color--accent-primary);
  background-color: var(--_colors---core-accent-color--accent-primary);
  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-primary);
}

.button.is-accent-tertiary.hero_button:where(.w-variant-b898c172-11d0-fe98-a201-093af39069dd) {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-tertiary);
  color: var(--_colors---core-accent-color--accent-tertiary);
}

.button.is-accent-tertiary.hero_button:where(.w-variant-b898c172-11d0-fe98-a201-093af39069dc) {
  border: 1px none var(--_colors---core-accent-color--accent-primary);
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-primary);
  opacity: 1;
  color: var(--_colors---core-accent-color--accent-primary);
}

.button.is-accent-tertiary.hero_button:where(.w-variant-b898c172-11d0-fe98-a201-093af39069de) {
  border-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  background-color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.button.is-accent-tertiary.hero_button:where(.w-variant-b898c172-11d0-fe98-a201-093af39069e0) {
  border-color: var(--_colors---core-accent-color--accent-secondary);
  background-color: var(--_colors---core-accent-color--accent-secondary);
}

.button.is-accent-tertiary.hero_button:where(.w-variant-b898c172-11d0-fe98-a201-093af39069e1) {
  border: 1px none var(--_colors---core-accent-color--accent-secondary);

  background-color: transparent;

  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-secondary);
  opacity: 1;

  color: var(--_colors---core-accent-color--accent-secondary);
  -webkit-text-stroke-color: var(--_colors---core-accent-color--accent-secondary);
}

.button.is-accent-tertiary.hero_button:where(.w-variant-b898c172-11d0-fe98-a201-093af39069df) {
  border: 1px none var(--_colors---core-accent-color--accent-tertiary-hover);
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-tertiary-hover);
  opacity: 1;
  color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.button.is-accent-tertiary.hero_button:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856a) {
  border-color: var(--_colors---core-accent-color--accent-primary);
  background-color: var(--_colors---core-accent-color--accent-primary);
  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-primary);
}

.button.is-accent-tertiary.hero_button:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856c) {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-tertiary);
  color: var(--_colors---core-accent-color--accent-tertiary);
}

.button.is-accent-tertiary.hero_button:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856b) {
  border: 1px none var(--_colors---core-accent-color--accent-primary);
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-primary);
  opacity: 1;
  color: var(--_colors---core-accent-color--accent-primary);
}

.button.is-accent-tertiary.hero_button:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856d) {
  border-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  background-color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.button.is-accent-tertiary.hero_button:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856f) {
  border-color: var(--_colors---core-accent-color--accent-secondary);
  background-color: var(--_colors---core-accent-color--accent-secondary);
}

.button.is-accent-tertiary.hero_button:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae8570) {
  border: 1px none var(--_colors---core-accent-color--accent-secondary);

  background-color: transparent;

  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-secondary);
  opacity: 1;

  color: var(--_colors---core-accent-color--accent-secondary);
  -webkit-text-stroke-color: var(--_colors---core-accent-color--accent-secondary);
}

.button.is-accent-tertiary.hero_button:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856e) {
  border: 1px none var(--_colors---core-accent-color--accent-tertiary-hover);
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-tertiary-hover);
  opacity: 1;
  color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.button.is-accent-tertiary.hero_button:hover {
  background-color: var(--_colors---core-accent-color--accent-tertiary);
  color: var(--_colors---core-neutral-color--neutral-primary);
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-7562c00a-ef15-81f4-91b7-90a0fbab46c7) {
  background-color: var(--_colors---core-accent-color--accent-primary);
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-c189fcd3-5a4d-5795-6030-6819db69b481) {
  filter: none;
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-fbee5f1c-a6fd-a583-6b28-036790acb6e1) {
  background-color: var(--_apps---colors--primary);
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-3ac05b22-f83a-436b-8411-820fcbd28f5a) {
  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-tertiary);
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-f869ac7b-f7d5-74ad-637d-c21d9e99da10) {
  border-color: var(--_colors---core-accent-color--accent-secondary);
  background-color: var(--_colors---core-accent-color--accent-secondary);
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-9258e10b-ad62-6a7c-340f-35176aa91519) {
  background-color: var(--_colors---core-accent-color--accent-secondary);
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-41a6f2a1-f3ed-2454-f7b2-ac853f4e425b) {
  background-color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-b898c172-11d0-fe98-a201-093af39069db) {
  background-color: var(--_colors---core-accent-color--accent-primary);
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-b898c172-11d0-fe98-a201-093af39069dd) {
  filter: none;
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-b898c172-11d0-fe98-a201-093af39069dc) {
  background-color: var(--_apps---colors--primary);
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-b898c172-11d0-fe98-a201-093af39069de) {
  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-tertiary);
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-b898c172-11d0-fe98-a201-093af39069e0) {
  border-color: var(--_colors---core-accent-color--accent-secondary);
  background-color: var(--_colors---core-accent-color--accent-secondary);
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-b898c172-11d0-fe98-a201-093af39069e1) {
  background-color: var(--_colors---core-accent-color--accent-secondary);
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-b898c172-11d0-fe98-a201-093af39069df) {
  background-color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856a) {
  background-color: var(--_colors---core-accent-color--accent-primary);
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856c) {
  filter: none;
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856b) {
  background-color: var(--_apps---colors--primary);
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856d) {
  box-shadow: inset 0 0 0 2px var(--_colors---core-accent-color--accent-tertiary);
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856f) {
  border-color: var(--_colors---core-accent-color--accent-secondary);
  background-color: var(--_colors---core-accent-color--accent-secondary);
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae8570) {
  background-color: var(--_colors---core-accent-color--accent-secondary);
}

.button.is-accent-tertiary.hero_button:hover:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856e) {
  background-color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.button.is-accent-tertiary.hero_button:active:where(.w-variant-7562c00a-ef15-81f4-91b7-90a0fbab46c7) {
  filter: none;
}

.button.is-accent-tertiary.hero_button:active:where(.w-variant-c189fcd3-5a4d-5795-6030-6819db69b481) {
  filter: brightness(110%);
}

.button.is-accent-tertiary.hero_button:active:where(.w-variant-fbee5f1c-a6fd-a583-6b28-036790acb6e1) {
  filter: brightness(110%);
}

.button.is-accent-tertiary.hero_button:active:where(.w-variant-3ac05b22-f83a-436b-8411-820fcbd28f5a) {
  box-shadow: none;
}

.button.is-accent-tertiary.hero_button:active:where(.w-variant-9258e10b-ad62-6a7c-340f-35176aa91519) {
  filter: brightness(110%);
}

.button.is-accent-tertiary.hero_button:active:where(.w-variant-41a6f2a1-f3ed-2454-f7b2-ac853f4e425b) {
  filter: brightness(110%);
}

.button.is-accent-tertiary.hero_button:active:where(.w-variant-b898c172-11d0-fe98-a201-093af39069db) {
  filter: none;
}

.button.is-accent-tertiary.hero_button:active:where(.w-variant-b898c172-11d0-fe98-a201-093af39069dd) {
  filter: brightness(110%);
}

.button.is-accent-tertiary.hero_button:active:where(.w-variant-b898c172-11d0-fe98-a201-093af39069dc) {
  filter: brightness(110%);
}

.button.is-accent-tertiary.hero_button:active:where(.w-variant-b898c172-11d0-fe98-a201-093af39069de) {
  box-shadow: none;
}

.button.is-accent-tertiary.hero_button:active:where(.w-variant-b898c172-11d0-fe98-a201-093af39069e1) {
  filter: brightness(110%);
}

.button.is-accent-tertiary.hero_button:active:where(.w-variant-b898c172-11d0-fe98-a201-093af39069df) {
  filter: brightness(110%);
}

.button.is-accent-tertiary.hero_button:active:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856a) {
  filter: none;
}

.button.is-accent-tertiary.hero_button:active:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856c) {
  filter: brightness(110%);
}

.button.is-accent-tertiary.hero_button:active:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856b) {
  filter: brightness(110%);
}

.button.is-accent-tertiary.hero_button:active:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856d) {
  box-shadow: none;
}

.button.is-accent-tertiary.hero_button:active:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae8570) {
  filter: brightness(110%);
}

.button.is-accent-tertiary.hero_button:active:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856e) {
  filter: brightness(110%);
}

@media screen and (max-width: 767px) {
  .button.is-accent-tertiary.hero_button {
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .button.is-accent-tertiary.hero_button {
    width: 100%;
  }
}

.button.is-accent-tertiary.flex-align-right {
  align-self: center;
}

@media screen and (max-width: 479px) {
  .button.is-accent-tertiary.flex-align-right {
    align-self: stretch;
  }
}

.button.is-accent-tertiary.flex-align_left {
  align-self: flex-start;
}

@media screen and (max-width: 479px) {
  .button.is-accent-tertiary.flex-align_left {
    max-width: none;
    padding-right: 0.75rem;
    align-self: stretch;
  }
}

.button.is-small {
  font-size: var(--_sizes---spacing--0-75x);
}

.button.is-inverse {
  border-color: transparent;
  background-color: var(--_colors---core-accent-color--accent-primary);
  color: var(--_colors---core-neutral-color--neutral-primary);
}

.button.is-inverse:hover {
  border-color: transparent;
  background-color: var(--_colors---core-accent-color--accent-primary-hover);
}

.button.on-accent-primary {
  background-color: var(--_colors---background-color--bg-primary);
  background-image: none;
  box-shadow: none;
  color: var(--_colors---text-color--text-primary);
}

.button.on-accent-primary:hover {
  border-color: transparent;
  background-color: var(--_colors---core-color-tint--neutral-primary-a70);
  box-shadow: none;
}

.button.on-accent-primary:active {
  background-color: var(--_colors---background-color--bg-primary);
  box-shadow: none;
}

.button.on-inverse {
  border-color: transparent;
  background-color: var(--_colors---core-accent-color--accent-primary);
  background-image: none;
  box-shadow: none;
  color: var(--_colors---text-color--text-on-accent-primary);
}

.button.on-inverse:hover {
  border-color: transparent;
  background-color: var(--_colors---core-accent-color--accent-primary-hover);
  box-shadow: none;
}

.button.on-inverse:active {
  background-color: var(--_colors---core-accent-color--accent-primary);
  box-shadow: none;
}

.button.on-accent-secondary {
  background-color: var(--_colors---background-color--bg-inverse);
  background-image: none;
  box-shadow: none;
  color: var(--_colors---text-color--text-inverse-primary);
}

.button.on-accent-secondary:hover {
  background-color: var(--_colors---core-color-tint--neutral-inverse-a70);
  box-shadow: none;
  color: var(--_colors---text-color--text-primary);
}

.button.on-accent-secondary:active {
  background-color: var(--_colors---background-color--bg-inverse);
  box-shadow: none;
}

.button.on-accent-tertiary {
  background-color: var(--_colors---background-color--bg-inverse);
  background-image: none;
  box-shadow: none;
  color: var(--_colors---text-color--text-inverse-primary);
}

.button.on-accent-tertiary:hover {
  background-color: var(--_colors---core-color-tint--neutral-inverse-a70);
  box-shadow: none;
}

.button.on-accent-tertiary:active {
  background-color: var(--_colors---background-color--bg-inverse);
  box-shadow: none;
}

.button.is-primary {
  padding-right: 1rem;
  padding-left: 1rem;
  justify-content: center;
  align-items: center;

  border-width: 2px;
  border-color: var(--_colors---button--button-secondary-border);

  background-color: transparent;
  background-image: none;

  box-shadow: inset 0 0 0 2px var(--_colors---text-color--text-on-accent-primary);

  color: var(--_colors---text-color--text-inverse-primary);
}

.button.is-primary:hover {
  border-color: var(--_colors---button--button-secondary-border-hover);
  background-color: var(--_colors---text-color--text-inverse-primary);
  box-shadow: inset 0 0 0 1px var(--_colors---text-color--text-primary);
  color: var(--_colors---text-color--text-primary);
}

.button.is-primary:active {
  background-color: transparent;
  box-shadow: 0 0 0 2px var(--_colors---text-color--text-primary) inset;
}

@media screen and (max-width: 767px) {
  .button.is-primary {
    flex: 0 0 auto;
    transition-duration: 4000ms, 400ms, 400ms, 400ms;
  }
}

@media screen and (max-width: 767px) {
  .button.is-primary:hover {
    background-color: var(--_apps---colors--popover-foreground\<deleted\|variable-b4b9c517-c237-1b7a-b1da-5ced180a7ceb\>);
    color: var(--_apps---colors--secondary\<deleted\|variable-98c23718-aafc-19d5-4d00-58b071ab723a\>);
  }
}

@media screen and (max-width: 479px) {
  .button.is-primary {
    max-width: 280px;
    margin-right: 0px;
  }
}

.button.colorize_fade_t0 {
  color: var(--_apps---colors--primary);
}

.colorize_t6 {
  transition: filter 400ms ease,opacity 400ms ease;
}

.button.text-color-neutral-primary {
  color: var(--_colors---core-neutral-color--neutral-primary);
}

.button.text-color-neutral-primary:global(.w--current) {
  color: var(--_colors---core-neutral-color--neutral-primary);
}

.button_label {
  font-family: var(--_typography---font--button-font);
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  white-space: pre;

  background-color: color-mix(in srgb, currentColor 20%, transparent);

  color: inherit;
}

@media screen and (max-width: 767px) {
  .button_label {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 479px) {
  .button_label {
    width: 100%;
  }
}

.button_label.tag {
  padding-left: 0.5em;
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (max-width: 479px) {
  .button_label.tag {
    white-space: pre-wrap;
  }
}

.tag {
  display: inline-flex;
  padding-top: 0.25em;
  padding-right: 0.5em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--_sizes---tag--tag-padding-horizontal);
  grid-row-gap: var(--_sizes---tag--tag-padding-horizontal);

  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: transparent;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: transparent;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: transparent;
  border-top-left-radius: var(--_sizes---tag--tag-radius);
  border-top-right-radius: var(--_sizes---tag--tag-radius);
  border-bottom-left-radius: var(--_sizes---tag--tag-radius);
  border-bottom-right-radius: var(--_sizes---tag--tag-radius);

  transition-property: border-color, color, background-color;
  transition-duration: 200ms, 200ms, 200ms;
  transition-timing-function: ease, ease, ease;

  font-family: 'Noto Serif Display';
  color: var(--_apps---colors--primary-foreground);
  font-size: var(--_typography---tag--tag-size);
  font-weight: 500;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: lowercase;

  background-color: color-mix(in srgb, currentColor 14%, transparent);
}

.tag:where(.w-variant-0992d1c2-1e85-66c6-5fc4-41ffecbf5acb) {
  padding-right: 0.25em;
  padding-left: 0.25em;

  border-width: 3px;
  border-color: var(--_apps---colors--primary);

  background-color: var(--_apps---colors--primary);

  font-weight: 600;
}

.tag:where(.w-variant-bd0e2718-84b0-337a-1973-f03ea3d8af42) {
  border-width: 3px;
  border-color: var(--_colors---core-accent-color--accent-tertiary);
  background-color: var(--_colors---core-accent-color--accent-tertiary);
}

.tag:where(.w-variant-c616048c-98d3-23b9-0c48-859fbbd595b8) {
  border-top-width: 3px;
  border-top-color: var(--_apps---colors--primary);
  border-right-width: 3px;
  border-right-color: var(--_apps---colors--primary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_apps---colors--primary);
  border-left-width: 3px;
  border-left-color: var(--_apps---colors--primary);

  color: var(--_apps---colors--primary);
  font-weight: 600;

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-27b181e2-8ffe-06c3-0497-dd1e9bffc8a7) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-tertiary);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-tertiary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-tertiary);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-tertiary);

  color: var(--_colors---core-accent-color--accent-tertiary);
  font-weight: 600;

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-c41e09ae-0036-41a5-e361-e15c35a98f43) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-secondary);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-secondary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-secondary);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-secondary);

  color: var(--_colors---core-accent-color--accent-secondary);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-1c32fe8d-3ed1-8447-a7ac-af0c67c57ff2) {
  border-width: 3px;
  border-color: var(--_colors---core-accent-color--accent-secondary);
  background-color: var(--_colors---core-accent-color--accent-secondary);
}

.tag:where(.w-variant-72edd273-7891-7857-18cf-7aeb113f4abc) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-tertiary-hover);

  color: var(--_colors---core-accent-color--accent-tertiary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-5a0229ea-6ac7-ada3-1053-85d92cc5888b) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-secondary-hover);

  color: var(--_colors---core-accent-color--accent-secondary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-52187c72-1048-778e-1544-aa09b68c111b) {
  border-top-width: 3px;
  border-top-color: var(--_apps---colors--primary);
  border-right-width: 3px;
  border-right-color: var(--_apps---colors--primary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_apps---colors--primary);
  border-left-width: 3px;
  border-left-color: var(--_apps---colors--primary);

  color: var(--_apps---colors--primary);
  font-weight: 600;

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-52187c72-1048-778e-1544-aa09b68c111d) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-tertiary);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-tertiary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-tertiary);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-tertiary);

  color: var(--_colors---core-accent-color--accent-tertiary);
  font-weight: 600;

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-52187c72-1048-778e-1544-aa09b68c111f) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-secondary);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-secondary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-secondary);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-secondary);

  color: var(--_colors---core-accent-color--accent-secondary);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-52187c72-1048-778e-1544-aa09b68c111e) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-tertiary-hover);

  color: var(--_colors---core-accent-color--accent-tertiary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-52187c72-1048-778e-1544-aa09b68c1120) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-secondary-hover);

  color: var(--_colors---core-accent-color--accent-secondary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-52187c72-1048-778e-1544-aa09b68c111c) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-primary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-primary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-primary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-primary-hover);

  color: var(--_colors---core-accent-color--accent-primary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-f3baf07a-9b17-7c1c-8615-2addb2ee2e5e) {
  border-top-width: 3px;
  border-top-color: var(--_apps---colors--primary);
  border-right-width: 3px;
  border-right-color: var(--_apps---colors--primary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_apps---colors--primary);
  border-left-width: 3px;
  border-left-color: var(--_apps---colors--primary);

  color: var(--_apps---colors--primary);
  font-weight: 600;

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-3074d042-2074-ef0a-075a-519801904e82) {
  border-top-width: 3px;
  border-top-color: var(--_apps---colors--primary);
  border-right-width: 3px;
  border-right-color: var(--_apps---colors--primary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_apps---colors--primary);
  border-left-width: 3px;
  border-left-color: var(--_apps---colors--primary);

  color: var(--_apps---colors--primary);
  font-weight: 600;

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-3074d042-2074-ef0a-075a-519801904e84) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-tertiary);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-tertiary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-tertiary);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-tertiary);

  color: var(--_colors---core-accent-color--accent-tertiary);
  font-weight: 600;

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-3074d042-2074-ef0a-075a-519801904e86) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-secondary);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-secondary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-secondary);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-secondary);

  color: var(--_colors---core-accent-color--accent-secondary);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-3074d042-2074-ef0a-075a-519801904e85) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-tertiary-hover);

  color: var(--_colors---core-accent-color--accent-tertiary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-3074d042-2074-ef0a-075a-519801904e80) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-secondary-hover);

  color: var(--_colors---core-accent-color--accent-secondary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-3074d042-2074-ef0a-075a-519801904e83) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-primary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-primary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-primary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-primary-hover);

  color: var(--_colors---core-accent-color--accent-primary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-3074d042-2074-ef0a-075a-519801904e81) {
  border-top-width: 3px;
  border-top-color: var(--_apps---colors--primary);
  border-right-width: 3px;
  border-right-color: var(--_apps---colors--primary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_apps---colors--primary);
  border-left-width: 3px;
  border-left-color: var(--_apps---colors--primary);

  color: var(--_apps---colors--primary);
  font-weight: 600;

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-712f3142-cf3e-dce5-257a-d0b48447fd23) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-tertiary-hover);

  color: var(--_colors---core-accent-color--accent-tertiary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-293fd546-6b48-6b02-a945-8ba34dd29a32) {
  border-width: 3px;
  border-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  background-color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.tag:where(.w-variant-3d7c014e-b599-1bed-e36f-b08944e2791a) {
  border-width: 3px;
  border-color: var(--_colors---core-accent-color--accent-secondary-hover);
  background-color: var(--_colors---core-accent-color--accent-secondary-hover);
}

@media screen and (max-width: 991px) {
  .tag {
    width: 100%;
  }
}

.recipe_sub-header {
  align-self: stretch;

  font-family: 'Bodoni Moda';
  color: var(--_colors---text-color--text-primary);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .recipe_sub-header {
    text-align: left;
  }
}

@media screen and (max-width: 991px) {
  .recipe_sub-header {
    line-height: 1.25;
  }
}

@media screen and (max-width: 767px) {
  .recipe_sub-header {
    font-size: 1.25rem;
    text-align: left;
  }
}

.button_label.is-secondary {
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;

  font-weight: 400;
  color: inherit;

  background-color: color-mix(in srgb, currentColor 14%, transparent);
}

.button_label.is-secondary:where(.w-variant-ee45998d-5a43-c57c-c7d6-4808e7a72733) {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.button_label.is-secondary:where(.w-variant-c189fcd3-5a4d-5795-6030-6819db69b481) {
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.button_label.is-secondary:where(.w-variant-fbee5f1c-a6fd-a583-6b28-036790acb6e1) {
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.button_label.is-secondary:where(.w-variant-9258e10b-ad62-6a7c-340f-35176aa91519) {
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.button_label.is-secondary:where(.w-variant-41a6f2a1-f3ed-2454-f7b2-ac853f4e425b) {
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.button_label.is-secondary:where(.w-variant-b898c172-11d0-fe98-a201-093af39069dd) {
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.button_label.is-secondary:where(.w-variant-b898c172-11d0-fe98-a201-093af39069dc) {
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.button_label.is-secondary:where(.w-variant-b898c172-11d0-fe98-a201-093af39069e1) {
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.button_label.is-secondary:where(.w-variant-b898c172-11d0-fe98-a201-093af39069df) {
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.button_label.is-secondary:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856c) {
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.button_label.is-secondary:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856b) {
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.button_label.is-secondary:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae8570) {
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.button_label.is-secondary:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856e) {
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.button_label.is-secondary:hover {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.button_label.is-secondary:hover:where(.w-variant-c189fcd3-5a4d-5795-6030-6819db69b481) {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.button_label.is-secondary:hover:where(.w-variant-fbee5f1c-a6fd-a583-6b28-036790acb6e1) {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.button_label.is-secondary:hover:where(.w-variant-9258e10b-ad62-6a7c-340f-35176aa91519) {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.button_label.is-secondary:hover:where(.w-variant-41a6f2a1-f3ed-2454-f7b2-ac853f4e425b) {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.button_label.is-secondary:hover:where(.w-variant-b898c172-11d0-fe98-a201-093af39069dd) {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.button_label.is-secondary:hover:where(.w-variant-b898c172-11d0-fe98-a201-093af39069dc) {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.button_label.is-secondary:hover:where(.w-variant-b898c172-11d0-fe98-a201-093af39069e1) {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.button_label.is-secondary:hover:where(.w-variant-b898c172-11d0-fe98-a201-093af39069df) {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.button_label.is-secondary:hover:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856c) {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.button_label.is-secondary:hover:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856b) {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.button_label.is-secondary:hover:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae8570) {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.button_label.is-secondary:hover:where(.w-variant-9f70562c-fd16-2fcb-557f-d472a3ae856e) {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

@media screen and (max-width: 767px) {
  .button_label.is-secondary {
    color: inherit;
  }
}

@media screen and (max-width: 479px) {
  .button_label.is-secondary {
    flex: 1;
    white-space: pre-wrap;
  }
}

.button_label.is-secondary.is-icon {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.button_label.is-secondary.is-icon:where(.w-variant-a5b066d0-eea5-807d-c902-fb41893ff2ea) {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.button_label.is-secondary.is-icon:where(.w-variant-528938e1-f8f6-e1bb-79b8-a5a9da37d75a) {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.button_label.is-secondary.is-icon:where(.w-variant-35fdfe12-a636-2f7f-c1e4-e4c9ad71f45a) {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.button_label.is-secondary.is-icon:where(.w-variant-35fdfe12-a636-2f7f-c1e4-e4c9ad71f45b) {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.text-color-green {
  color: #0097b2;
}

.button_label.text-color_accent-primary {
  color: var(--_colors---core-accent-color--accent-primary);
  text-decoration: none;
}

.text-color_accent-primary {
  color: var(--_colors---core-accent-color--accent-primary);
}

.button_label.is-icon {
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}