.component_card-size {
  position: relative;

  display: flex;
  overflow: clip;

  box-sizing: border-box;

  width: 100%;
  height: 100%;
  max-height: 500px;
  max-width: 500px;
  justify-content: space-between;
  align-items: stretch;
  align-self: stretch;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  aspect-ratio: 1/1;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  object-fit: cover;

  color: inherit;

  background-color: inherit;
}

@media screen and (min-width: 1280px) {
  .component_card-size {
    max-height: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .component_card-size:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
    max-height: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .component_card-size:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
    max-height: 100%;
    max-width: 100%;
  }
}

.component_card-size:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
  overflow: clip;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 362.5px;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  aspect-ratio: 2/3;
}

.component_card-size:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
  overflow: clip;
  width: 100%;
  height: auto;
  max-height: 1500%;
  max-width: 400%;
  min-height: 325px;
  min-width: 325px;
  justify-content: space-between;
  align-items: stretch;
  aspect-ratio: 3/2;
}

.component_card-size:where(.w-variant-c43689d3-b135-cd15-efed-45db3731f586) {
  border-radius: 10px;
}

@media screen and (max-width: 991px) {
  .component_card-size {
    max-height: 400px;
    max-width: 350px;
    min-height: 400px;
    min-width: 350px;
  }
}

@media screen and (max-width: 991px) {
  .component_card-size:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
    max-width: 725px;
    min-height: 400px;
    min-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .component_card-size {
    max-width: 550px;
    min-height: 400px;
    min-width: 550px;
  }
}

@media screen and (max-width: 767px) {
  .component_card-size:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
    max-height: 400%;
    max-width: 550px;
    min-width: 300px;
    aspect-ratio: 1/1;
  }
}

@media screen and (max-width: 767px) {
  .component_card-size:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
    max-height: 600px;
    max-width: 550px;
    min-height: 600px;
    min-width: 550px;
  }
}

@media screen and (max-width: 479px) {
  .component_card-size {
    max-height: 400px;
    max-width: 300px;
    min-width: 300px;
  }
}

@media screen and (max-width: 479px) {
  .component_card-size:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
    max-width: 300px;
    min-height: 600px;
    min-width: 300px;
  }
}

@media screen and (max-width: 479px) {
  .component_card-size:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
    max-height: 400px;
    max-width: 300px;
    min-height: 400px;
    min-width: 300px;
  }
}

.component_card-size.tertiary-accent-2 {
  width: 575px;
  height: 300px;
}

.component_card-size._3x2 {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  aspect-ratio: 3/2;
}

@media screen and (max-width: 991px) {
  .component_card-size._3x2 {
    max-width: 355px;
  }
}

@media screen and (max-width: 767px) {
  .component_card-size._3x2 {
    max-width: 550px;
  }
}

@media screen and (max-width: 767px) {
  .component_card-size._3x2:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
    max-width: 550px;
  }
}

@media screen and (max-width: 767px) {
  .component_card-size._3x2:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
    max-width: 550px;
  }
}

@media screen and (max-width: 479px) {
  .component_card-size._3x2 {
    max-width: 310px;
  }
}

@media screen and (max-width: 479px) {
  .component_card-size._3x2:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
    max-width: 310px;
  }
}

@media screen and (max-width: 479px) {
  .component_card-size._3x2:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
    max-width: 310px;
  }
}

.component_card-size._2x3 {
  width: 375px;
  height: 562.5px;
  aspect-ratio: 2/3;
}

.component_card-size._3x2-22 {
  overflow: clip;
  width: 100%;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  min-height: 325px;
  min-width: 365px;
  justify-content: space-between;
  align-items: stretch;
  aspect-ratio: 3/2;
}

@media screen and (min-width: 1280px) {
  .component_card-size._3x2-22 {
    max-height: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .component_card-size._3x2-22 {
    max-width: 725px;
    min-height: 400px;
    min-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .component_card-size._3x2-22 {
    max-width: 550px;
    min-width: 300px;
    aspect-ratio: 1/1;
  }
}

@media screen and (max-width: 479px) {
  .component_card-size._3x2-22 {
    max-height: 400px;
    max-width: 300px;
    min-height: 400px;
    min-width: 300px;
  }
}

.component_card-size._2x3-22 {
  overflow: clip;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 362.5px;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  aspect-ratio: 2/3;
}

@media screen and (min-width: 1280px) {
  .component_card-size._2x3-22 {
    max-height: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .component_card-size._2x3-22 {
    max-height: 600px;
    max-width: 550px;
    min-height: 600px;
    min-width: 550px;
  }
}

@media screen and (max-width: 479px) {
  .component_card-size._2x3-22 {
    max-width: 300px;
    min-height: 600px;
    min-width: 300px;
  }
}

.component_card-size._2x3-45 {
  overflow: clip;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 362.5px;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  aspect-ratio: 2/3;
}

@media screen and (min-width: 1280px) {
  .component_card-size._2x3-45 {
    max-height: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .component_card-size._2x3-45 {
    max-height: 600px;
    max-width: 550px;
    min-height: 600px;
    min-width: 550px;
  }
}

@media screen and (max-width: 479px) {
  .component_card-size._2x3-45 {
    max-width: 300px;
    min-height: 600px;
    min-width: 300px;
  }
}

.memory-wall_color-card {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  overflow: hidden;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  background-color: var(--_colors---core-accent-color--accent-primary);

  opacity: 1;

  color: var(--_colors---core-accent-color--accent-primary);

  mix-blend-mode: normal;

  text-wrap: pretty;

  height: inherit;
  width: inherit;
  max-width: inherit;
  min-height: inherit;
  min-width: inherit;
  max-height: inherit;

  object-fit: cover;
}

.memory-wall_color-card:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
  align-self: stretch;
  opacity: 100;
  filter: brightness(110%);
  aspect-ratio: inherit;
}

.memory-wall_color-card:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
  display: flex;
  align-self: stretch;
}

.memory-wall_color-card._2x3-2 {
  opacity: 100;
  filter: brightness(110%);
}

.memory-wall_color-card._3x2-23 {
  display: flex;
  align-self: stretch;
}

.memory-wall_color-card._2x3-23 {
  align-self: stretch;
  opacity: 100;
  filter: brightness(110%);
  aspect-ratio: inherit;
}

.memory-wall_color-card._2x3-46 {
  align-self: stretch;
  opacity: 100;
  filter: brightness(110%);
  aspect-ratio: inherit;
}

.memory-wall_image-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 4;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  background-image: radial-gradient(circle farthest-corner at 50% 50%, hsla(0, 0.00%, 0.00%, 0.00), hsla(0, 0.00%, 0.00%, 0.40) 23%, hsla(0, 0.00%, 0.00%, 0.70) 50%, hsla(0, 0.00%, 0.00%, 0.40) 75%, hsla(111.42857142857142, 0.00%, 100.00%, 0.93) 103%);

  opacity: 0.65;
  filter: brightness(80%);
  pointer-events: auto;

  color: var(--_apps---colors--primary);

  text-wrap: pretty;

  max-width: inherit;
  max-height: inherit;
  min-height: inherit;
  min-width: inherit;
  height: inherit;
  width: inherit;
  aspect-ratio: inherit;

  object-fit: inherit;
}

.memory-wall_image-overlay:where(.w-variant-c43689d3-b135-cd15-efed-45db3731f586) {
  background-image: linear-gradient(225deg, hsla(0, 0.00%, 0.00%, 0.00), var(--_apps---colors--accent-dark\<deleted\|variable-f6fcce6d-e786-cd40-edc9-93f718bf0633\>));
  color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.memory-wall_image-overlay:where(.w-variant-f1fd8323-66ff-43cd-c923-7635f0fb3d8b) {
  color: var(--_colors---core-accent-color--accent-tertiary);
}

.memory-wall_image-overlay:where(.w-variant-5895fbf3-61ee-25b0-ef66-5700a0890057) {
  color: var(--_colors---core-accent-color--accent-secondary-hover);
}

.memory-wall_image-overlay:where(.w-variant-bc1388a3-2956-51d3-5b2a-cd6ec82a62f2) {
  color: var(--_colors---core-accent-color--accent-secondary);
}

.memory-wall_image-overlay:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
  align-self: stretch;
  object-fit: cover;
}

.memory-wall_image-overlay.tertiary-accent-5 {
  background-image: linear-gradient(225deg, hsla(0, 0.00%, 0.00%, 0.00), var(--_apps---colors--accent-dark\<deleted\|variable-f6fcce6d-e786-cd40-edc9-93f718bf0633\>));
  color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.memory-wall_image-overlay._2x3-24 {
  align-self: stretch;
  object-fit: cover;
}

.memory-wall_image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;

  background-color: var(--_apps---colors--primary);

  filter: brightness(75%);

  object-fit: cover;
}

.memory-wall_image.aspect-ratio-widescreen {
  aspect-ratio: 16/9;
}

.memory-wall_image.colorize_on-hover {
  position: relative;
  z-index: 3;

  display: none;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  opacity: 1;
  filter: none;

  max-height: inherit;
  min-height: inherit;
  max-width: inherit;
  min-width: inherit;
  width: inherit;
  height: inherit;
  aspect-ratio: inherit;

  object-fit: inherit;
}

.memory-wall_image.colorize_on-hover:where(.w-variant-c43689d3-b135-cd15-efed-45db3731f586) {
  position: relative;
  z-index: 3;
  opacity: 1;
}

.memory-wall_image.colorize_on-hover:where(.w-variant-f1fd8323-66ff-43cd-c923-7635f0fb3d8b) {
  z-index: 3;
}

.memory-wall_image.colorize_on-hover:where(.w-variant-5895fbf3-61ee-25b0-ef66-5700a0890057) {
  z-index: 3;
}

.memory-wall_image.colorize_on-hover:where(.w-variant-bc1388a3-2956-51d3-5b2a-cd6ec82a62f2) {
  z-index: 3;
}

.memory-wall_image.colorize_on-hover:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
  align-self: stretch;
  aspect-ratio: inherit;
}

.memory-wall_image.colorize_on-hover:hover {
  filter: brightness(100%);
}

.memory-wall_image.colorize_on-hover.tertiary-accent-4 {
  position: relative;
  z-index: 3;
  opacity: 1;
}

.memory-wall_image.colorize_on-hover.is-hidden {
  z-index: 3;

  display: block;
  overflow: visible;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  order: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  height: inherit;
  width: inherit;
  max-height: inherit;
  min-height: inherit;
  min-width: inherit;
  max-width: inherit;

  object-fit: inherit;
}

.memory-wall_image.colorize_on-hover.is-hidden:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
  align-self: stretch;
  aspect-ratio: inherit;
}

.is-hidden {
  display: none;
}

.memory-wall_image.colorize_on-hover._2x3-25 {
  align-self: stretch;
  aspect-ratio: inherit;
}

.memory-wall_image.colorize_on-hover._2x3-25.is-hidden {
  z-index: 3;

  display: block;
  overflow: visible;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  order: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  height: inherit;
  width: inherit;
  max-height: inherit;
  min-height: inherit;
  min-width: inherit;
  max-width: inherit;

  object-fit: inherit;
}

.memory-wall_image.colorize_on-hover._2x3-25.is-hidden:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
  align-self: stretch;
  aspect-ratio: inherit;
}

.memory-wall_image.colorize_on-hover._2x3-25.is-hidden._2x3-26 {
  align-self: stretch;
  aspect-ratio: inherit;
}

.memory-wall_top-content {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 5;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-self: stretch;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  aspect-ratio: inherit;
  width: inherit;
  height: inherit;

  object-fit: inherit;

  max-height: inherit;
  min-width: inherit;
  max-width: inherit;
  min-height: inherit;
}

@media screen and (min-width: 1280px) {
  .memory-wall_top-content:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
    padding-bottom: 60px;
    justify-content: flex-end;
    align-items: center;
  }
}

.memory-wall_top-content:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  max-height: inherit;
  max-width: inherit;
  min-height: inherit;
  min-width: inherit;
}

.memory-wall_top-content:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
  margin-right: auto;
  margin-left: auto;
  align-self: center;
  object-fit: cover;
}

.memory-wall_top-content:where(.w-variant-6d479e5a-8a66-5802-f742-21c18f65522a) {
  width: 100%;
  height: 100%;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
}

.memory-wall_top-content:where(.w-variant-9a24517b-7126-0ebb-a1fa-a96a88b41671) {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;
}

.memory-wall_top-content._3x2-5 {
  padding: 20px 20px 20px 40px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.memory-wall_top-content._2x3-5 {
  object-fit: cover;
}

@media screen and (min-width: 1280px) {
  .memory-wall_top-content._2x3-5 {
    padding-bottom: 60px;
    justify-content: flex-end;
    align-items: center;
  }
}

.memory-wall_top-content._3x2-27 {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  max-height: inherit;
  max-width: inherit;
  min-height: inherit;
  min-width: inherit;
}

.memory-wall_top-content._2x3-27 {
  margin-right: auto;
  margin-left: auto;
  align-self: center;
  object-fit: cover;
}

@media screen and (min-width: 1280px) {
  .memory-wall_top-content._2x3-27 {
    padding-bottom: 60px;
    justify-content: flex-end;
    align-items: center;
  }
}

.memory-wall_summary-card-date {
  z-index: 11;

  display: flex;
  margin-top: 1px;
  margin-right: -1px;
  margin-bottom: 1px;
  margin-left: 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-self: center;

  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: var(--_colors---core-neutral-color--neutral-primary);
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: var(--_colors---core-neutral-color--neutral-primary);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--_colors---core-neutral-color--neutral-primary);
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: var(--_colors---core-neutral-color--neutral-primary);

  background-color: var(--_colors---core-neutral-color--neutral-primary);

  font-size: 0.85rem;
  line-height: 1;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: inherit;
}

.memory-wall_summary-card-date:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
  margin-left: 60px;
  align-self: flex-start;
}

@media screen and (max-width: 767px) {
  .memory-wall_summary-card-date {
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
}

@media screen and (max-width: 479px) {
  .memory-wall_summary-card-date {
    font-size: 0.85rem;
  }
}

.memory-wall_summary-card-date.memory-wall_move-rotate {
  z-index: 12;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
}

.tag {
  display: inline-flex;
  padding-top: 0.25em;
  padding-right: 0.5em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--_sizes---tag--tag-padding-horizontal);
  grid-row-gap: var(--_sizes---tag--tag-padding-horizontal);

  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: transparent;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: transparent;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: transparent;
  border-top-left-radius: var(--_sizes---tag--tag-radius);
  border-top-right-radius: var(--_sizes---tag--tag-radius);
  border-bottom-left-radius: var(--_sizes---tag--tag-radius);
  border-bottom-right-radius: var(--_sizes---tag--tag-radius);

  transition-property: border-color, color, background-color;
  transition-duration: 200ms, 200ms, 200ms;
  transition-timing-function: ease, ease, ease;

  font-family: 'Noto Serif Display';
  color: var(--_apps---colors--primary-foreground);
  font-size: var(--_typography---tag--tag-size);
  font-weight: 500;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: lowercase;

  background-color: color-mix(in srgb, currentColor 14%, transparent);
}

.tag:where(.w-variant-0992d1c2-1e85-66c6-5fc4-41ffecbf5acb) {
  padding-right: 0.25em;
  padding-left: 0.25em;

  border-width: 3px;
  border-color: var(--_apps---colors--primary);

  background-color: var(--_apps---colors--primary);

  font-weight: 600;
}

.tag:where(.w-variant-bd0e2718-84b0-337a-1973-f03ea3d8af42) {
  border-width: 3px;
  border-color: var(--_colors---core-accent-color--accent-tertiary);
  background-color: var(--_colors---core-accent-color--accent-tertiary);
}

.tag:where(.w-variant-c616048c-98d3-23b9-0c48-859fbbd595b8) {
  border-top-width: 3px;
  border-top-color: var(--_apps---colors--primary);
  border-right-width: 3px;
  border-right-color: var(--_apps---colors--primary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_apps---colors--primary);
  border-left-width: 3px;
  border-left-color: var(--_apps---colors--primary);

  color: var(--_apps---colors--primary);
  font-weight: 600;

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-27b181e2-8ffe-06c3-0497-dd1e9bffc8a7) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-tertiary);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-tertiary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-tertiary);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-tertiary);

  color: var(--_colors---core-accent-color--accent-tertiary);
  font-weight: 600;

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-c41e09ae-0036-41a5-e361-e15c35a98f43) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-secondary);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-secondary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-secondary);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-secondary);

  color: var(--_colors---core-accent-color--accent-secondary);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-1c32fe8d-3ed1-8447-a7ac-af0c67c57ff2) {
  border-width: 3px;
  border-color: var(--_colors---core-accent-color--accent-secondary);
  background-color: var(--_colors---core-accent-color--accent-secondary);
}

.tag:where(.w-variant-72edd273-7891-7857-18cf-7aeb113f4abc) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-tertiary-hover);

  color: var(--_colors---core-accent-color--accent-tertiary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-5a0229ea-6ac7-ada3-1053-85d92cc5888b) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-secondary-hover);

  color: var(--_colors---core-accent-color--accent-secondary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-52187c72-1048-778e-1544-aa09b68c111b) {
  border-top-width: 3px;
  border-top-color: var(--_apps---colors--primary);
  border-right-width: 3px;
  border-right-color: var(--_apps---colors--primary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_apps---colors--primary);
  border-left-width: 3px;
  border-left-color: var(--_apps---colors--primary);

  color: var(--_apps---colors--primary);
  font-weight: 600;

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-52187c72-1048-778e-1544-aa09b68c111d) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-tertiary);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-tertiary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-tertiary);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-tertiary);

  color: var(--_colors---core-accent-color--accent-tertiary);
  font-weight: 600;

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-52187c72-1048-778e-1544-aa09b68c111f) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-secondary);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-secondary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-secondary);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-secondary);

  color: var(--_colors---core-accent-color--accent-secondary);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-52187c72-1048-778e-1544-aa09b68c111e) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-tertiary-hover);

  color: var(--_colors---core-accent-color--accent-tertiary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-52187c72-1048-778e-1544-aa09b68c1120) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-secondary-hover);

  color: var(--_colors---core-accent-color--accent-secondary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-52187c72-1048-778e-1544-aa09b68c111c) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-primary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-primary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-primary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-primary-hover);

  color: var(--_colors---core-accent-color--accent-primary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-f3baf07a-9b17-7c1c-8615-2addb2ee2e5e) {
  border-top-width: 3px;
  border-top-color: var(--_apps---colors--primary);
  border-right-width: 3px;
  border-right-color: var(--_apps---colors--primary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_apps---colors--primary);
  border-left-width: 3px;
  border-left-color: var(--_apps---colors--primary);

  color: var(--_apps---colors--primary);
  font-weight: 600;

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-3074d042-2074-ef0a-075a-519801904e82) {
  border-top-width: 3px;
  border-top-color: var(--_apps---colors--primary);
  border-right-width: 3px;
  border-right-color: var(--_apps---colors--primary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_apps---colors--primary);
  border-left-width: 3px;
  border-left-color: var(--_apps---colors--primary);

  color: var(--_apps---colors--primary);
  font-weight: 600;

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-3074d042-2074-ef0a-075a-519801904e84) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-tertiary);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-tertiary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-tertiary);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-tertiary);

  color: var(--_colors---core-accent-color--accent-tertiary);
  font-weight: 600;

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-3074d042-2074-ef0a-075a-519801904e86) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-secondary);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-secondary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-secondary);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-secondary);

  color: var(--_colors---core-accent-color--accent-secondary);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-3074d042-2074-ef0a-075a-519801904e85) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-tertiary-hover);

  color: var(--_colors---core-accent-color--accent-tertiary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-3074d042-2074-ef0a-075a-519801904e80) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-secondary-hover);

  color: var(--_colors---core-accent-color--accent-secondary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-3074d042-2074-ef0a-075a-519801904e83) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-primary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-primary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-primary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-primary-hover);

  color: var(--_colors---core-accent-color--accent-primary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-3074d042-2074-ef0a-075a-519801904e81) {
  border-top-width: 3px;
  border-top-color: var(--_apps---colors--primary);
  border-right-width: 3px;
  border-right-color: var(--_apps---colors--primary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_apps---colors--primary);
  border-left-width: 3px;
  border-left-color: var(--_apps---colors--primary);

  color: var(--_apps---colors--primary);
  font-weight: 600;

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-712f3142-cf3e-dce5-257a-d0b48447fd23) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-tertiary-hover);

  color: var(--_colors---core-accent-color--accent-tertiary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-293fd546-6b48-6b02-a945-8ba34dd29a32) {
  border-width: 3px;
  border-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  background-color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.tag:where(.w-variant-3d7c014e-b599-1bed-e36f-b08944e2791a) {
  border-width: 3px;
  border-color: var(--_colors---core-accent-color--accent-secondary-hover);
  background-color: var(--_colors---core-accent-color--accent-secondary-hover);
}

@media screen and (max-width: 991px) {
  .tag {
    width: 100%;
  }
}

.memory-wall_summary-card-date.date-tag {
  display: inline-flex;
  margin-bottom: 5px;
  margin-left: 60px;
  padding: 0rem;
  clear: none;
  justify-content: flex-end;
  align-items: center;

  background-color: var(--_apps---colors--background);

  color: var(--_colors---core-accent-color--accent-primary);
  line-height: 1;
}

@media screen and (min-width: 1280px) {
  .memory-wall_summary-card-date.date-tag:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1280px) {
  .memory-wall_summary-card-date.date-tag:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
    padding-top: 0.05rem;
    padding-left: 0.05rem;
  }
}

.memory-wall_summary-card-date.date-tag:where(.w-variant-c43689d3-b135-cd15-efed-45db3731f586) {
  padding: 0.1rem;
  color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.memory-wall_summary-card-date.date-tag:where(.w-variant-f1fd8323-66ff-43cd-c923-7635f0fb3d8b) {
  color: var(--_colors---core-accent-color--accent-tertiary);
}

.memory-wall_summary-card-date.date-tag:where(.w-variant-5895fbf3-61ee-25b0-ef66-5700a0890057) {
  color: var(--_colors---core-accent-color--accent-secondary-hover);
}

.memory-wall_summary-card-date.date-tag:where(.w-variant-bc1388a3-2956-51d3-5b2a-cd6ec82a62f2) {
  color: var(--_colors---core-accent-color--accent-secondary);
}

.memory-wall_summary-card-date.date-tag:where(.w-variant-9a24517b-7126-0ebb-a1fa-a96a88b41671) {
  align-self: flex-end;
}

.memory-wall_summary-card-date.date-tag:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
  padding: 0.05rem;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.memory-wall_summary-card-date.date-tag:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex: 0 auto;
}

.memory-wall_summary-card-date.date-tag.tertiary-accent-8 {
  padding: 0.1rem;
  color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.memory-wall_summary-card-date._3x2-43 {
  margin-left: 60px;
  align-self: flex-start;
}

.memory-wall_heading-wrapper {
  position: relative;
  z-index: 2;

  display: flex;
  padding-bottom: 30px;
  padding-left: 0px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-self: center;
}

.memory-wall_heading-wrapper:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
  justify-content: space-between;
  align-items: center;
}

.memory-wall_heading-wrapper:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
  padding-bottom: 20px;
  justify-content: flex-end;
  align-items: center;
}

.memory-wall_heading-wrapper._3x2-7 {
  justify-content: space-between;
  align-items: center;
}

.memory-wall_heading-wrapper._2x3-7 {
  justify-content: flex-end;
  align-items: center;
}

.memory-wall_heading-wrapper._2x3-29 {
  padding-bottom: 20px;
  justify-content: flex-end;
  align-items: center;
}

.memory-wall_card-heading {
  position: relative;
  z-index: 3;

  display: flex;
  max-width: 80%;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  color: var(--_colors---background-color--bg-primary);
  font-size: 3rem;
  line-height: 0.9;
  text-align: center;
  text-shadow: 0 1px 20px var(--_apps---colors--accent-foreground);

  text-wrap: balance;
}

.memory-wall_card-heading:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
  overflow: visible;
  max-width: 600px;
  line-height: 1;
  text-align: left;
}

.memory-wall_card-heading._3x2-8 {
  overflow: clip;
  text-align: left;
}

.memory-wall_card-heading._3x2-30 {
  overflow: visible;
  max-width: 600px;
  line-height: 1;
  text-align: left;
}

.location-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.location-wrapper:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;
  color: var(--_colors---core-accent-color--accent-primary);
}

.location-wrapper._3x2-10 {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;
  color: #C98769;
}

.location-item {
  display: flex;
  padding-right: 1.5rem;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.location-item:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.location-item._3x2-12 {
  display: flex;
  padding-right: 1rem;
  padding-bottom: 3px;
  justify-content: center;
  align-items: center;
}

.location-item._3x2-32 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.icon {
  display: flex;
  width: var(--_sizes---spacing--2x);
  height: var(--_sizes---spacing--2x);
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  color: var(--_colors---core-neutral-color--neutral-secondary);

  vertical-align: middle;
}

.icon.is-small {
  width: var(--_sizes---spacing--1-25x);
  height: var(--_sizes---spacing--1-25x);
}

.icon.is-xsmall {
  width: var(--_sizes---spacing--1x);
  height: var(--_sizes---spacing--1x);
}

.icon.on-inverse {
  color: var(--_colors---text-color--text-inverse-primary);
}

.icon.on-inverse.is-background {
  background-color: color-mix(in srgb, currentColor 30%, transparent);
}

.is-background {
  display: inline-flex;

  box-sizing: content-box;

  padding-top: var(--_sizes---spacing--0-5x);
  padding-right: var(--_sizes---spacing--0-5x);
  padding-bottom: var(--_sizes---spacing--0-5x);
  padding-left: var(--_sizes---spacing--0-5x);
  justify-content: center;
  align-items: center;

  border-top-left-radius: var(--_sizes---button--button-radius);
  border-top-right-radius: var(--_sizes---button--button-radius);
  border-bottom-left-radius: var(--_sizes---button--button-radius);
  border-bottom-right-radius: var(--_sizes---button--button-radius);

  color: var(--_colors---text-color--text-accent-on-primary);

  background-color: color-mix(in srgb, currentColor 10%, transparent);
}

.icon.on-accent-primary {
  color: inherit;
}

.icon.on-accent-secondary {
  color: inherit;
}

.icon.on-accent-tertiary {
  color: inherit;
}

.icon.is-background.on-inverse {
  color: var(--_colors---text-color--text-inverse-primary);
}

.icon.is-medium {
  width: var(--_sizes---spacing--1-5x);
  height: var(--_sizes---spacing--1-5x);
}

.icon.is-large {
  width: var(--_sizes---spacing--3x);
  height: var(--_sizes---spacing--3x);
}

.icon.is-xlarge {
  width: var(--_sizes---spacing--5x);
  height: var(--_sizes---spacing--5x);
}

.margin-bottom_xsmall {
  margin-bottom: var(--_sizes---spacing--1x);
}

.flex-align_center {
  align-self: center;
}

.icon.location-icon {
  justify-content: center;
  align-items: center;
  color: var(--_colors---core-accent-color--accent-secondary);
}

.icon.location-icon:where(.w-variant-acd405c7-f8cf-c479-8d20-4182289c84fc) {
  color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.icon.location-icon:where(.w-variant-3d29cd7f-708c-35e7-f839-44ba41e87c40) {
  color: var(--_colors---core-accent-color--accent-tertiary);
}

.icon.location-icon:where(.w-variant-1382dac3-79bd-15c9-48bb-2fad64084561) {
  color: var(--_colors---core-accent-color--accent-secondary);
}

.icon.location-icon:where(.w-variant-db85ccea-8578-785e-3cac-50eea47c37cb) {
  color: var(--_colors---core-accent-color--accent-primary-hover);
}

.icon.location-icon:where(.w-variant-f870ba70-a76c-b3e4-5bee-5dfd8572c825) {
  padding-left: 5px;
  align-self: center;
}

@media screen and (max-width: 479px) {
  .icon.location-icon {
    width: var(--_sizes---spacing--1-5x);
    height: var(--_sizes---spacing--1-5x);
    padding-right: 5px;
    order: -9999;
  }
}

.location-icon {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  align-self: center;

  color: var(--_colors---core-accent-color--accent-primary-hover);
}

.icon.location-icon.is-white {
  color: var(--_colors---core-neutral-color--neutral-secondary);
}

.icon.location-icon.is-white.is-relative {
  position: relative;
  width: 2rem;
  height: 2rem;
}

.icon.location-icon.is-white.is-relative:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
  position: relative;
}

.icon.arrow-icon {
  justify-content: flex-start;
  align-items: center;
  color: var(--_colors---core-accent-color--accent-secondary);
}

.icon.arrow-icon:where(.w-variant-acd405c7-f8cf-c479-8d20-4182289c84fc) {
  color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.icon.arrow-icon:where(.w-variant-3d29cd7f-708c-35e7-f839-44ba41e87c40) {
  color: var(--_colors---core-accent-color--accent-tertiary);
}

.icon.arrow-icon:where(.w-variant-1382dac3-79bd-15c9-48bb-2fad64084561) {
  color: var(--_colors---core-accent-color--accent-secondary);
}

.icon.arrow-icon:where(.w-variant-db85ccea-8578-785e-3cac-50eea47c37cb) {
  color: var(--_colors---core-accent-color--accent-primary-hover);
}

.icon.arrow-icon:where(.w-variant-f870ba70-a76c-b3e4-5bee-5dfd8572c825) {
  padding-left: 5px;
  align-self: center;
}

@media screen and (max-width: 479px) {
  .icon.arrow-icon {
    width: var(--_sizes---spacing--1-5x);
    height: var(--_sizes---spacing--1-5x);
    padding-right: 5px;
    order: -9999;
  }
}

.memory-wall_location {
  position: relative;
  z-index: 3;

  display: block;

  opacity: 0.99;

  color: var(--_colors---background-color--bg-primary);
  line-height: 1;
  font-weight: 300;
}

.memory-wall_location:where(.w-variant-9a24517b-7126-0ebb-a1fa-a96a88b41671) {
  align-self: flex-start;
}

.memory-wall_location:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
  align-self: stretch;
  font-size: 1rem;
  line-height: 1.5;
}

.memory-wall_location.text-size-medium {
  line-height: 1.5;
}

.text-size-medium {
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: -0.0025em;
}

.memory-wall_location.text-size-medium.text-color_tertiary {
  color: var(--_colors---text-color--text-accent-on-primary);
}

.margin-bottom_small {
  margin-bottom: var(--_sizes---spacing--2x);
}

@media screen and (max-width: 767px) {
  .margin-bottom_small {
    margin-bottom: var(--_sizes---spacing--1x);
  }
}

.memory-wall_location.text-size-medium.text-color_accent-primary {
  color: var(--_colors---text-color--text-accent-on-primary);
}

.text-color_accent-primary {
  color: var(--_colors---core-accent-color--accent-primary);
}

.text-color_primary {
  color: var(--_apps---colors--popover\<deleted\|variable-6945803a-2e5e-2253-f573-1e334a4dd7c2\>);
}

.text-color-dark-green {
  color: #29708d;
}

.memory-wall_location.show {
  opacity: 0;
}

.memory-wall_location.tertiary-accent-14 {
  color: inherit;
}

.memory-wall_location._3x2-13 {
  align-self: stretch;
  font-size: 1rem;
  line-height: 1.5;
}

.memory-wall_days-count {
  position: relative;
  z-index: 3;

  opacity: 0.99;

  color: var(--_colors---background-color--bg-primary);
  line-height: 1;
  font-weight: 300;
}

.memory-wall_days-count:where(.w-variant-9a24517b-7126-0ebb-a1fa-a96a88b41671) {
  align-self: flex-start;
}

.memory-wall_days-count:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
  align-self: stretch;
  font-size: 1rem;
  line-height: 1.5;
}

.memory-wall_days-count.text-size-medium {
  line-height: 1.5;
}

.memory-wall_days-count.text-size-medium.text-color_tertiary {
  color: var(--_colors---text-color--text-accent-on-primary);
}

.memory-wall_days-count.text-size-medium.text-color_accent-primary {
  color: var(--_colors---text-color--text-accent-on-primary);
}

.memory-wall_days-count.text-size-medium.text-color-dark {
  color: var(--_colors---text-color--text-dark);
}

.memory-wall_days-count.show {
  opacity: 0;
}

.memory-wall_days-count.text-color-dark {
  color: var(--_colors---text-color--text-dark);
}

.memory-wall_days-count._3x2-14 {
  align-self: stretch;
  font-size: 1rem;
  line-height: 1.5;
}

.shared-by_wrapper {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  align-self: center;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.shared-by_wrapper:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
  margin-left: 0.5rem;
  align-self: flex-start;
}

.shared-by_wrapper._3x2-36 {
  margin-left: 0.5rem;
  align-self: flex-start;
}

.memory-wall_shared-by {
  position: relative;
  z-index: 3;

  display: flex;
  margin-top: 5px;
  justify-content: center;
  align-items: center;

  opacity: 0.99;

  color: var(--_colors---background-color--bg-primary);
  line-height: 1;
  font-weight: 300;
}

.memory-wall_shared-by:where(.w-variant-9a24517b-7126-0ebb-a1fa-a96a88b41671) {
  align-self: flex-start;
}

.memory-wall_shared-by:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
  align-self: stretch;
  font-size: 1rem;
  line-height: 1.5;
}

.memory-wall_shared-by.text-size-medium {
  line-height: 1.5;
}

.memory-wall_shared-by.text-size-medium.text-color_tertiary {
  color: var(--_colors---text-color--text-accent-on-primary);
}

.memory-wall_shared-by.text-size-medium.text-color_accent-primary {
  color: var(--_colors---text-color--text-accent-on-primary);
}

.memory-wall_shared-by.show {
  opacity: 0;
}

.memory-wall_shared-by._3x2-9 {
  align-self: stretch;
  font-size: 1rem;
  line-height: 1.5;
}

.label {
  padding: 5px;

  font-family: var(--_typography---font--button-font);
  color: var(--_apps---colors--foreground-dark\<deleted\|variable-7cbed7a1-3f65-53b5-1196-c9501c0a1600\>);
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  white-space: pre;
}

@media screen and (max-width: 767px) {
  .label {
    font-size: 0.85rem;
  }
}

.memory-wall_read-more_button {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 10%;

  align-self: center;

  direction: ltr;
}

.memory-wall_read-more_button:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;

  display: flex;
  margin-right: 40px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}

.memory-wall_read-more_button:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 20%;

  align-self: center;
}

.memory-wall_read-more_button._3x2-15 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;

  display: flex;
  margin-right: 40px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}

.memory-wall_read-more_button._2x3-15 {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 10%;

  align-self: center;
}

.memory-wall_read-more_button._2x3-38 {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 20%;

  align-self: center;
}

.memory-wall_button-text.tag {
  padding-top: 0.5em;
  padding-right: 0.75em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  background-color: color-mix(in srgb, currentColor 25%, transparent);
}

.memory-wall_button-text.tag:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
}

.memory-wall_button-text.tag:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
  justify-content: center;
  align-items: center;
}

.memory-wall_button-text.tag._3x2-16 {
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
}

.memory-wall_button-text.tag._2x3-39 {
  justify-content: center;
  align-items: center;
}

.memory-wall_botom-content {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10;

  display: flex;
  padding: 20px 30px 10px;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;

  background-color: var(--_apps---colors--primary);

  opacity: 0;
}

.memory-wall_botom-content.is-primary {
  z-index: 99;

  padding-top: 40px;
  padding-left: 30px;
  align-self: stretch;
  grid-column-gap: 80px;
  grid-row-gap: 80px;

  opacity: 0;

  background-color: inherit;
}

.memory-wall_botom-content.is-primary:where(.w-variant-bc1388a3-2956-51d3-5b2a-cd6ec82a62f2) {
  background-color: var(--_colors---core-accent-color--accent-secondary);
}

.memory-wall_botom-content.is-primary:where(.w-variant-f1fd8323-66ff-43cd-c923-7635f0fb3d8b) {
  background-color: var(--_colors---core-accent-color--accent-tertiary);
}

.memory-wall_botom-content.is-primary:where(.w-variant-c43689d3-b135-cd15-efed-45db3731f586) {
  border-radius: 10px;
  background-color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.memory-wall_botom-content.is-primary:where(.w-variant-5895fbf3-61ee-25b0-ef66-5700a0890057) {
  background-color: var(--_colors---core-accent-color--accent-secondary-hover);
}

.memory-wall_botom-content.is-primary:where(.w-variant-6d479e5a-8a66-5802-f742-21c18f65522a) {
  width: 100%;
  height: 100%;
}

.memory-wall_botom-content.is-primary:where(.w-variant-9a24517b-7126-0ebb-a1fa-a96a88b41671) {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;
}

.memory-wall_botom-content.is-primary:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
  justify-content: flex-end;
  align-items: center;
}

.memory-wall_botom-content.is-primary:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
  opacity: 0;
}

.memory-wall_botom-content.is-primary.tertiary-accent-18 {
  background-color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.memory-wall_botom-content.is-primary._3x2-17 {
  opacity: 0;
}

.memory-wall_botom-content.is-primary._2x3-17 {
  justify-content: flex-end;
  align-items: center;
}

.memory-wall_botom-content.component-card-color {
  align-self: stretch;

  opacity: 0;

  background-color: inherit;

  aspect-ratio: inherit;
  height: inherit;
  width: inherit;

  object-fit: inherit;

  max-height: inherit;
  max-width: inherit;
  min-height: inherit;
  min-width: inherit;
}

.memory-wall_botom-content.component-card-color:where(.w-variant-bc1388a3-2956-51d3-5b2a-cd6ec82a62f2) {
  background-color: var(--_colors---core-accent-color--accent-secondary);
}

.memory-wall_botom-content.component-card-color:where(.w-variant-f1fd8323-66ff-43cd-c923-7635f0fb3d8b) {
  background-color: var(--_colors---core-accent-color--accent-tertiary);
}

.memory-wall_botom-content.component-card-color:where(.w-variant-c43689d3-b135-cd15-efed-45db3731f586) {
  border-radius: 10px;
  background-color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.memory-wall_botom-content.component-card-color:where(.w-variant-5895fbf3-61ee-25b0-ef66-5700a0890057) {
  background-color: var(--_colors---core-accent-color--accent-secondary-hover);
}

.memory-wall_botom-content.component-card-color:where(.w-variant-6d479e5a-8a66-5802-f742-21c18f65522a) {
  width: 100%;
  height: 100%;
}

.memory-wall_botom-content.component-card-color:where(.w-variant-9a24517b-7126-0ebb-a1fa-a96a88b41671) {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;
}

.memory-wall_botom-content.component-card-color:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
  justify-content: flex-end;
  align-items: center;
  object-fit: cover;
}

.memory-wall_botom-content.component-card-color:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
  opacity: 0;
  max-height: inherit;
}

@media screen and (max-width: 991px) {
  .memory-wall_botom-content.component-card-color {
    justify-content: space-between;
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {
  .memory-wall_botom-content.component-card-color {
    justify-content: center;
    align-items: center;
    align-self: center;
    opacity: 0;
  }
}

@media screen and (max-width: 767px) {
  .memory-wall_botom-content.component-card-color:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
    opacity: 100;
  }
}

@media screen and (max-width: 479px) {
  .memory-wall_botom-content.component-card-color:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
    opacity: 0;
  }
}

.memory-wall_botom-content.component-card-color.tertiary-accent-18 {
  background-color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.memory-wall_botom-content.component-card-color._3x2-17 {
  opacity: 0;
}

.memory-wall_botom-content.component-card-color._2x3-17 {
  justify-content: flex-end;
  align-items: center;
}

.memory-wall_botom-content.component-card-color._3x2-40 {
  opacity: 0;
  max-height: inherit;
}

.memory-wall_botom-content.component-card-color._2x3-40 {
  justify-content: flex-end;
  align-items: center;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .memory-wall_botom-content.component-card-color._2x3-40 {
    opacity: 100;
  }
}

@media screen and (max-width: 479px) {
  .memory-wall_botom-content.component-card-color._2x3-40 {
    opacity: 0;
  }
}

.memory-wall_bottom-paragraph {
  position: relative;
  z-index: 11;

  overflow: clip;
  margin-top: 5px;
  margin-bottom: auto;
  align-self: center;

  opacity: 1;

  color: var(--_colors---background-color--bg-primary);
  line-height: 1.5rem;
  font-weight: 300;

  text-wrap: pretty;
}

.memory-wall_bottom-paragraph:where(.w-variant-dc71c3f1-e658-221f-ae1d-139a6bfb15d8) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
}

@media screen and (max-width: 767px) {
  .memory-wall_bottom-paragraph {
    margin-top: 20px;
    font-size: 1.15rem;
  }
}

.memory-wall_bottom-paragraph.text-size-medium {
  line-height: 1.5;
}

.memory-wall_bottom-paragraph.text-size-medium.text-color_tertiary {
  color: var(--_colors---text-color--text-accent-on-primary);
}

.memory-wall_bottom-paragraph.text-size-medium.text-color_accent-primary {
  color: var(--_colors---text-color--text-accent-on-primary);
}

.memory-wall_bottom-paragraph.show {
  opacity: 0;
}

.memory-wall_bottom-paragraph._3x2-18 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
}

.memory-wall_meta-wrapper {
  position: absolute;
  bottom: 10%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-self: stretch;
}

@media screen and (max-width: 767px) {
  .memory-wall_meta-wrapper {
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .memory-wall_meta-wrapper:where(.w-variant-30ff9ae0-7c8b-618e-a322-9d9459225b19) {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .memory-wall_meta-wrapper._2x3-42 {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .memory-wall_meta-wrapper._2x3-65 {
    justify-content: center;
    align-items: center;
  }
}

.like-icon {
  display: flex;
  padding-left: 1rem;
  align-self: stretch;
  color: var(--_apps---colors--background);
}